<ion-view view-title="Company Members">
  <ion-content>
    <div class="padding" ng-if="currentUser.admin">
      <button class="button button-block button-small button-balanced" ui-sref="tab.addMember">
        Add a new member
      </button>
    </div>
    <ion-toggle ng-show="membersService.members.length > 0 && currentUser.admin" ng-model="shouldShowDelete">
      Show Delete?
    </ion-toggle>
    <ion-list show-delete="shouldShowDelete">
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="member in membersService.members" type="item-text-wrap" ui-sref-active="active" ui-sref="tab.memberDetail({memberId:member._id})">
        <img ng-src="{{getImage(member.imageUrl)}}">
        <h2>{{member.name}}</h2>
        <p>{{member.surname}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-delete-button class="ion-minus-circled button icon button-icon" ng-click="remove(member)"></ion-delete-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
